<%- include('partials/header') %>

    <form class="loginForm">
        <label for="brukernavn">Brukernavn:</label>
        <input type="text" name="brukernavn" id="brukernavn">

        <label for="passord">Passord:</label>
        <input type="password" name="passord" id="passord">

        <button type="submit">Logg inn</button>
    </form>

    <!-- script -->
    <script src="/js/login.js" defer></script>

<%- include('partials/footer') %>