<%- include('partials/header') %>
    <!-- css -->
    <link rel="stylesheet" href="/css/produkter.css">

    <h2>Produkter:</h2>
    <div class="produkter"></div>

    <!-- script -->
    <script src="/js/getProdukter.js" defer></script>

<%- include('partials/footer') %>